html, body {
  font: normal 16px Helvetica, Arial, sans-serif;
}

html {
  background-color: #ffd505;
  color: #222222;
}

header {
  background-color: #057ec1;
  border-radius: 0 0 16px 16px;
  color: #ffffff;
  margin: 0 auto 30px auto;
  padding: 30px 0;
  width: 900px;
}


h1, h2, h3 {
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 2.4rem;
  padding: 0 25px;
}

h2 {
  font-size: 2rem;
  padding: 0;
}

h3 {
  font-size: 1.2rem;
  padding: 0;
}

a {
  background-color: inherit;
  color: inherit;
}

main {
  background-color: #ececec;
  box-sizing: border-box;
  color: inherit;
  margin: 0 auto 0 auto;
  padding: 25px;
  width: 900px;
}

ul {
  overflow: hidden;
  padding-bottom: 8px;
  padding-top: 17px;
}

li {
  background-color: #ffffff;
  color: inherit;
  display: block;
  float: left;
  margin: 8px 1% 9px 1%;
  padding-bottom: 15px;
  width: 23.5%;
}

li:nth-of-type(4n) {
  margin-right: 0;
}

li:nth-of-type(4n+1) {
  clear: both;
  margin-left: 0;
}

input[type="checkbox"] {
  display: none
}

figure {
  box-sizing: border-box;
  height: 140px;
  margin: 15px 0 0 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

figcaption {
  margin-left: 15px;
  margin-top: 20px;
  text-align: left;
  font-weight: bold;
}

figcaption p {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 5px;
}

img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

:checked + figure::after {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: inherit;
  content: "";
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

:checked + figure img {
  height: auto;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 100px;
  width: 400px;
  z-index: 2;
}
